extends layout

block main
	if collections.posts.length
		each post in collections.posts
			article.preview
				header
					h2.title
						a(href=post.path)= post.title
					div.meta
						if post.modifyDate && moment(post.publishDate).isBefore(post.modifyDate)
							span Updated #{moment(post.modifyDate).format("MMMM, DD YYYY")}
						else
							span Published #{moment(post.publishDate).format("MMMM, DD YYYY")}
						span  by #{post.author}

				main!= post.description
				footer
	else
		p No posts were found.